{:company/legal-name "Nigerian National Petroleum Company Limited"
 :company/legal-name-short "NNPC Limited"
 :company/lei "9845007375EBB04C6F49"
 :company/jurisdiction "NG"
 :company/website "https://www.nnpcgroup.com"
 :company/isic-rev5 "0610"
 :company/contact-email "contactus@nnpcgroup.com"}
